<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<ul>
<li style="list-style: none;">
  <% if @task.completed == true%>
  <p><input type="checkbox" checked="true" disabled>The task is completed</p>
  <% else %>
  <p><input type="checkbox" disabled>The task is not completed</p>
  <% end %>
</li>
</ul>

<%= link_to "Edit task", edit_path%>

<%= link_to "Back to list", tasks_path%>

